@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.section-padding {
  padding-top: 75px;
  padding-bottom: 75px;
}

/* reset start */
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
  font-size: 16px;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

span {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
a:hover {
  color: #3482ff;
}

/* reset end */
.btn-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(52, 130, 255, 0.9);
  color: #ccc;
  padding: 15px 35px;
  border: 0;
  font-size: 18px;
  border-radius: 15px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow: hidden;
}
.btn-wrapper:focus {
  outline: 0;
}
.btn-wrapper:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}
.btn-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}
.btn-wrapper:hover {
  background: #3482ff;
  cursor: pointer;
}
.btn-wrapper:hover:before {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.btn-wrapper:hover:after {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.btn-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.btn-text i {
  font-size: 30px;
  margin-left: 20px;
}

.btn-wrapper-2 {
  background: transparent;
  border: 1px solid #fff;
}
.btn-wrapper-2 i {
  color: #fff;
  font-size: 30px;
  margin-left: 20px;
}
.btn-wrapper-2:hover {
  border-color: #3482ff;
}

.btn-wrapper-3 {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #3482ff;
}
.btn-wrapper-3:hover .btn-text {
  color: #fff;
}
.btn-wrapper-3 .btn-text {
  color: #3482ff;
}

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
          animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #3482ff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

.header-section {
  position: absolute;
  width: 100%;
  padding: 25px 0;
  z-index: 99;
}
.header-section .container {
  padding: 0;
}

.header-logo {
  max-width: 180px;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-menu-area {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.nav-link {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 7px 30px !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav-link:hover {
  color: #3482ff;
}
.nav-link.active {
  background-color: rgba(52, 130, 255, 0.6);
  border-radius: 30px;
}
.nav-link.active:hover {
  color: #fff;
}

.banner-section {
  padding: 280px 0 300px 0;
  position: relative;
  background-image: url(/assets/images/banner/6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.banner-section::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #0F0D0D;
  z-index: -1;
}
.banner-section::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(37, 92, 253, 0.85)), color-stop(rgba(59, 70, 236, 0.85)), color-stop(rgba(87, 64, 202, 0.85)), color-stop(rgba(108, 60, 187, 0.85)), to(rgba(37, 92, 253, 0.85)));
  background-image: linear-gradient(to left, rgba(37, 92, 253, 0.85), rgba(59, 70, 236, 0.85), rgba(87, 64, 202, 0.85), rgba(108, 60, 187, 0.85), rgba(37, 92, 253, 0.85));
  z-index: -1;
}

.banner-area {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-title-top {
  color: #f5f5f5;
  font-size: 24px;
  margin-bottom: 40px;
}

.banner-title {
  color: #fff;
  font-size: 90px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 60px;
}

.plan-section {
  position: relative;
  margin-top: -160px;
  z-index: 2;
}

.plan-row {
  position: relative;
  padding: 40px;
  background-color: #3482ff;
  border-radius: 5px;
}

.plan-row-2 {
  background-color: #fff;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.031372549);
          box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.031372549);
}
.plan-row-2 .plan-title {
  color: #000;
}
.plan-row-2 .plan-details {
  color: #000;
}
.plan-row-2 .plan-icon {
  background-color: transparent;
  border: 1px solid rgba(51, 129, 255, 0.6);
}

.plan-area {
  text-align: center;
}

.plan-title {
  font-size: 30px;
  margin-bottom: 15px;
  color: #fff;
}

.plan-details {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

.plan-icon {
  position: relative;
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
  background-color: rgb(80, 147, 255);
  margin-bottom: 40px;
}
.plan-icon::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 125%;
  height: 125%;
  border: 1px solid rgba(51, 129, 255, 0.3);
  border-radius: 50%;
}

.plan-icon-img {
  width: 50px;
}

.about-video-section {
  margin-top: 280px;
  background-color: #f6f6f8;
}

.overview-row {
  padding: 80px 0;
}

.video-area {
  position: relative;
  height: 550px;
  border-radius: 15px;
  overflow: hidden;
  margin-top: -200px;
}
.video-area::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0F0D0D;
  opacity: 0.1;
}

.video-thumb {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.overview-item {
  text-align: center;
}

.overview-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.overview-icon {
  width: 40px;
  margin-right: 20px;
}

.overview-count {
  font-size: 45px;
  font-weight: 400;
}

.overview-subtitle {
  font-size: 22px;
}

.project-section {
  position: relative;
}
.project-section .btn-wrapper-3 {
  position: relative;
  z-index: 1;
}

.section-title-top {
  font-size: 20px;
  padding: 10px 30px;
  display: inline-block;
  background-color: rgba(52, 130, 255, 0.2);
  color: #3482ff;
  border-radius: 30px;
  margin-bottom: 30px;
}

.section-title {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}

.section-details {
  font-size: 20px;
}

.section-details-link {
  display: inline-block;
  margin-top: 10px;
  font-size: 18px;
}

.project-item {
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.031372549);
          box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.031372549);
  margin-bottom: 30px;
}

.project-img {
  width: 100%;
  max-height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.project-item-details {
  padding: 30px 20px;
}

.project-item-title {
  font-size: 24px;
  color: #000;
}

.projects-bottom-overlay {
  position: absolute;
  width: 100%;
  height: 500px;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.82)), to(white));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.82), white);
}/*# sourceMappingURL=style.css.map */