.btn-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  background:rgba(52, 130, 255, 0.9);
  color: #ccc;
  padding: 15px 35px;
  border: 0;
  font-size: 18px;
  border-radius: 15px;
  transition: .6s;
  overflow: hidden;
  &:focus{
    outline: 0;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px)  skewX(-15deg);
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }
  &:hover{
    background: $blue;
    cursor: pointer;
    &:before{
      transform: translateX(300px)  skewX(-15deg);  
      opacity: 0.6;
      transition: .7s;
    }
    &:after{
      transform: translateX(300px) skewX(-15deg);  
      opacity: 1;
      transition: .7s;
    }
  }
  &.no-before-after{
    &::after,&::before{
      display: none;
  }
  border-radius: 10px;
  padding: 13px 35px;
  font-size: 16px;
  }
}
.btn-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    transition: .4s;
    i{
        font-size: 30px;
        margin-left: 20px;
    }
}
.btn-wrapper-2{
    background: transparent;
    border: 1px solid #fff;
    i{
        color: #fff;
        font-size: 30px;
        margin-left: 20px;
    }
    &:hover{
      border-color: $blue;
    }
}
.btn-wrapper-3{
  display: inline-block;
  background-color: #fff;
  border: 1px solid $blue;
  &:hover{
    .btn-text{
      color: #fff;
    }
  }
  .btn-text{
    color: $blue;
  }
}
.btn-wrapper-4{
  padding: 10px 30px;
  .btn-text{
    font-size: 16px;
  }
}

// video-play-btn start
.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  transition: all 200ms;
}
.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid $blue;
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
}

// video-play-btn end